<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="mdl-js">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        FPT University Academic Portal
    </title>
    <link rel="Stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">
    <link rel="Stylesheet" href="~/css/fu.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <link rel="Stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="Stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    @*<link rel="Stylesheet" href="~/lib/bootstrap/dist/css/" type="text/css">*@
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <span>FPT University Academic Portal</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*@{
                    string email = Model.LoggedInAccount.Email;
                    string[] parts = email.Split('@');
                    string username = parts[0];
                }*@
                <div id="ctl00_divUser" style="float: right; margin-right: 16px;">
                    @*<a href="?view=user">
                        <span id="ctl00_lblLogIn" class="label label-success">@username</span>
                    </a> | <a href="/login?handler=LogOut" class="label label-success">logout</a> |*@
                    <span id="ctl00_lblCampusName" class="label label-success"> CAMPUS: FPTU-Hòa Lạc</span>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <span id="ctl00_lblNavigation">
                            <a href="/">Home</a>&nbsp;|&nbsp;<b>Grade-book</b>
                        </span>
                    </li>
                </ol>
                <main role="main" class="pb-3">
                    <partial name="_Notification" />
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>