@page "/admin/subject/update/{id}"
@model FAPClient.Pages.Admin.Subject.UpdateModel
@{
    Layout = "_LayoutAdmin";
}

<form method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Subject</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateSubjectModal')"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">

                    <div class="form col-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group">
                            <label asp-for="SubjectUpdate.SubjectName" style="min-width: 130px" class="control-label"></label>
                            <input id="updateSubjectName" asp-for="SubjectUpdate.SubjectName" class="form-control" required />
                            <span asp-validation-for="SubjectUpdate.SubjectName" class="text-danger"></span>
                        </div>
                        <div class="input-group mt-2">
                            <label asp-for="SubjectUpdate.SubjectCode" style="min-width: 130px" class="control-label"></label>
                            <input id="updateSubjectCode" asp-for="SubjectUpdate.SubjectCode" class="form-control" required />
                            <span asp-validation-for="SubjectUpdate.SubjectCode" class="text-danger"></span>
                        </div>
                        <div class="input-group mt-2">
                            <label asp-for="SubjectUpdate.DateOfIssues" style="min-width: 130px" class="control-label"></label>
                            <input id="updateSubjectDateOfIssues" asp-for="SubjectUpdate.DateOfIssues" type="date" class="form-control" required />
                            <span asp-validation-for="SubjectUpdate.DateOfIssues" class="text-danger"></span>
                        </div>
                        <div class="input-group mt-2">
                            <label asp-for="SubjectUpdate.NumOfCredits" style="min-width: 130px" class="control-label"></label>
                            <input id="updateSubjectNumOfCredits" asp-for="SubjectUpdate.NumOfCredits" class="form-control" required />
                            <span asp-validation-for="SubjectUpdate.NumOfCredits" class="text-danger"></span>
                        </div>
                        <input id="updateSubjectId" asp-for="SubjectUpdate.Id" type="hidden" />
                    </div>

                    <div class="update-table col-6 p-0" style="margin-left: 60px;">
                        <h4 class="h5">Update grade components</h4>
                        <div>
                            @*<select  class="form-select">
                                <option>Choose a category item</option>
                                <option value="">Assignment</option>
                                <option value="">Progress Test</option>
                                <option value="">Presentation</option>
                                <option value="">Lab</option>
                                <option value="">Quiz</option>
                                <option value="">Participation</option>
                                <option value="">Group Project</option>
                                <option value="">Pratical Exam</option>
                                <option value="">Final Exam</option>
                            </select>*@
                            <table>
                                <thead>
@*                                    <tr>
                                        <th style="display: inline-block;margin-right: 10px; width:195px">Category Item</th>
                                        <th style="display: inline-block; margin-right: 10px;width:195px">Grade Item</th>
                                        <th style="display: inline-block;margin-right: 40px;width: 80px">Percentage</th>
                                        <th></th>
                                    </tr>*@
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="display: inline-block;margin-right: 10px;width:195px">
                                            <input type="text" name="categoryItem" class="form-control" required placeholder="category item" />
                                        </td>
                                        <td style="display: inline-block;margin-right: 10px;width:195px">
                                            <input type="text" name="gradeItem" class="form-control" required placeholder="grade item" />
                                        </td>
                                        <td style="display: inline-block;margin-right: 30px;width: 90px">
                                            <input type="number" name="weight" class="form-control" placeholder="weight" required />
                                        </td>
                                        <td>
                                            <button type="button" >+</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h6>Preview</h6>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Category Item</th>
                                        <th>Grade Item</th>
                                        <th>Percentage</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" name="categoryItem" required />
                                        </td>
                                        <td>
                                            <input type="text" name="gradeItem" required />
                                        </td>
                                        <td>
                                            <input type="number" name="weight" required />
                                        </td>
                                        <td>
                                            <button type="button">+</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closePopup('updateSubjectModal')">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    let subjectOfCurricolums = [];
    $(document).ready(() => {
        subjectOfCurricolums = Array.from(document.querySelectorAll('#subject-to-add-update tr')).map(tr => {
            const list = tr.querySelectorAll('td');
            const subjectCode = list[0].innerHTML;
            const subjectName = list[1].innerHTML;
            const termNo = tr.querySelector('input[type="text"]').value;
            const subjectId = parseInt(tr.querySelectorAll('input[type="hidden"]')[0].value);
            const id = parseInt(tr.querySelectorAll('input[type="hidden"]')[1].value);
            return { id, subjectId, subjectCode, termNo, subjectName };
        });
    });

    function displaySubjectList(data) {
        $('#display-search-result').html(`
                                        ${data.map((item) =>
            `<tr>
                    <td>${item.subjectCode}</td>
                    <td style="display: inline-block;max-width: 350px">${item.subjectName}</td>
                    <td>
                        <button type="button" onclick="addSubject(${item.id}, '${item.subjectCode}', '${item.subjectName}')">+</button>
                    </td>
                </tr>`
        )
                .join("")}
                                `);
    }


    const renderSubjectList = () => {
        $('#subject-to-add-update').html(`
                                        ${subjectOfCurricolums.map((item, index) =>
            `<tr>
                    <td>${item.subjectCode}</td>
                    <td>${item.subjectName}</td>
                    <td>
                            <input type="text" name="CurricolumUpdate.Subjects[${index}].TermNo" value="${item.termNo}" style="width: 60px" onchange="updateSubjectTermNo(${index})"/>
                        <input type="hidden" name="CurricolumUpdate.Subjects[${index}].SubjectId" value="${item.subjectId}"/>
                        <input name="CurricolumUpdate.Subjects[${index}].Id" value="${item.id}" type="hidden"/>
                    </td>
                    <td>
                         <button type="button" onclick="removeSubject(${item.subjectId})">X</button>
                    </td>
                </tr>`
        ).join("")}
            `);
    }

    function addSubject(subjectId, code, name) {
        const newIndex = $('#subject-to-add-update tr').length;
        const newItem = { subjectId: subjectId, subjectCode: code, subjectName: name, termNo: "", id: '' };
        const isExist = Array.from(document.querySelectorAll('#subject-to-add-update input[type="hidden"].subjectId')).map(input => input.value).includes(`${newItem.subjectId}`);
        console.log(isExist);
        if (!isExist) {
            $('#subject-to-add-update').append(`<tr>
                                            <td>${newItem.subjectCode}</td>
                                            <td>${newItem.subjectName}</td>
                                        <td>
                                                    <input type="text" name="CurricolumUpdate.Subjects[${newIndex}].TermNo" style="width: 60px" required onchange="updateSubjectTermNo(${newIndex})"/>
                                            <input type="hidden" name="CurricolumUpdate.Subjects[${newIndex}].SubjectId" value="${newItem.subjectId}"/>
                                            <input name="CurricolumUpdate.Subjects[${newIndex}].Id" value="${newItem.id}" type="hidden"/>
                                        </td>
                                        <td>
                                                    <button type="button" onclick="removeSubject(${newItem.subjectId})">X</button>
                                        </td>
                                    </tr>`);
            subjectOfCurricolums.push(newItem);
        } else {
            console.log("This subject already exists");
        }

    }

    function removeSubject(subjectId) {
        subjectOfCurricolums = subjectOfCurricolums.filter(item => item.subjectId !== parseInt(subjectId));
        renderSubjectList();
    }

    function updateSubjectTermNo(index) {
        console.log('update termNo sucessfully!');
        subjectOfCurricolums[index].termNo = document.querySelectorAll('#subject-to-add-update tr')[index].querySelector('input[type="text"]').value;
    }
</script>